.wrapper {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px 10px;
    color: var(--color-one);
    border-radius: 5px;
    background-color: var(--color-two);
    font-family: var(--font-stack-title);
}
